language: go

go:
  - "1.8"  # 指定Golang 1.8

# Specify which branches to build using a safelist
# 分支白名单限制：只有 master 分支的提交才会触发构建
# branches:
#   only:
#     - master

install:
  # 安装最新的hugo
  - curl -LO https://github.com/gohugoio/hugo/releases/download/v0.86.1/hugo_0.86.1_Linux-64bit.deb  
  - sudo dpkg -i hugo_0.86.1_Linux-64bit.deb
  # 安装主题
  - git clone https://github.com/luizdepra/hugo-coder.git

script:
  # 运行hugo命令
  - hugo

notifications:
  email: false
  
after_script:
  # 部署
  - cd ./public
  - git init
  - git config user.name "canondin"
  - git config user.email "1009224896@qq.com"
  - git add .
  - git commit -m "Update Blog By TravisCI With Build $TRAVIS_BUILD_NUMBER"
  # Github Pages
  - git push --force --quiet "https://$GITHUB_TOKEN@${GH_REF}" main:main
  # Github Pages
  - git push --quiet "https://$GITHUB_TOKEN@${GH_REF}" main:main --tags

env:
 global:
   # Github Pages
   - GH_REF: https://github.com/canondin/blog.canondin.cn.git

deploy:
  provider: pages # 重要，指定这是一份github pages的部署配置
  skip-cleanup: true # 重要，不能省略
  local-dir: public # 静态站点文件所在目录
  # target-branch: master # 要将静态站点文件发布到哪个分支
  github-token: $GITHUB_TOKEN # 重要，$GITHUB_TOKEN是变量，需要在GitHub上申请、再到配置到Travis
  fqdn: tb.canondin.cn # 如果是自定义域名，此处要填
  keep-history: true # 是否保持target-branch分支的提交记录
  on:
    branch: main # 博客源码的分支
